<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
	<description>A custom set of code standard rules to check for WordPress themes.</description>
	<arg name="basepath" value="./"/>
	<arg name="extensions" value="php,css,scss/css"/>
	<arg name="parallel" value="8"/>
	<arg value="ps"/>
	<file>.</file>
	<rule ref="WordPress"/>
</ruleset>
